@font-face {
    font-family: engraversGothic; /* fearless */
    src: url("../font/engravers_gothic.otf");
}

@font-face {
    font-family: gothamBold; /* spotify */
    src: url("../font/gotham-bold.otf");
}

@font-face {
    font-family: gothamLight;
    src: url('../font/gotham-light.otf');
}

html {
    color: #f7f8f2;
    background-color: black;
    background: linear-gradient(to bottom, #694d30 0%, #462f1b 100%);
}

#load{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    text-align: center;
    margin-top: 25%;
    font-size: 30px;
    font-family: engraversGothic;
}

#headerDiv {
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: #e3e3e3;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 30px;
    margin: 0px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    width: 100%;
}

#title {
    float:left;
}

#homeButton {
    margin-left: 20px;
}

#moreButtons {
    display: inline-flex;
    float: right;
    margin: 30px;
    margin-right: 70px;
    margin-top: 40px;
}

#instagramButton:hover {
    content: url('../img/iglogodark.png');
    cursor: pointer;
}

#homeButton:hover {
    content: url('../img/homebtndark.png');
    cursor: pointer;
}

#contentDiv {
    display: inline-flex;
    padding-bottom: 15px;
}

.player {
    font-family: gothamBold;
}

#playerDiv {
    display: inline-block;
    text-align: left;
    padding: 30px;
    margin: 20px;
    margin-top: 5px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, #694d30 0%, #d9c78f 100%);
    border-radius: 15px;
    max-width: 330px;
}

#playerImg {
    content:url("../img/fearless.jpg");
    margin-bottom: 25px;
}

#artistLabel{
    font-family: gothamLight;
    color: #ede7e0;
    margin-top: 0px;
}

#spotifyButtons {
    text-align: center;
}

#backButton {
    padding-right: 33px;
    padding-bottom: 22px;
    cursor: pointer;
}

#backButton:hover {
    content: url('../img/backbtndark.png');
}

#playButton {
    cursor: pointer;
}

#playButton:hover {
    content: url('../img/playbtndark.png');
}

#fwdButton {
    padding-left: 33px;
    padding-bottom: 22px;
    cursor: pointer;
}

#fwdButton:hover {
    content: url('../img/fwdbtndark.png');
}

#playButtonLabel {
    display: inline-block;
    background: black;
    opacity: 50%;
    padding: 5px;
    margin: 5px 128px;
    margin-top: 7px;
    font-size: 10px;
    font-family: gothamLight;
    color: white;
    text-align: center;
    z-index:1;
}

.hid {
    visibility: hidden;
}

.vis {
    visibility: visible;
}

#chartDiv {
    padding: 0px;
    margin: 20px;
    margin-left: 0px;
    margin-top: 5px;
    background: linear-gradient(to bottom, #694d30 0%, #d9c78f 100%);
    border-radius: 15px;
}


.albumContent {
    font-family: engraversGothic;
}

#feedbackTitle{
    font-family: engraversGothic;
    color: white;
    padding: 5px;
    padding-left: 0px;
    margin-bottom: 0px;
}

#footerDiv {
   font-family: gothamLight;
   background: linear-gradient(to bottom, #694d30 0%, #d9c78f 100%);
   border-radius: 15px;
   color: black;
   text-align: left;
   padding-left: 50px;
   padding-top: 5px;
   padding-bottom: 25px;
   margin: 20px;
   margin-top: 0px;
   min-width: inherit;
}

#fname{
    margin-left: 11px;
    margin-bottom: 5px;
}

#favalbum{
    margin-bottom: 5px;
}

#feedback{
    margin-top: 3px;
    margin-bottom: 5px;
}

.fbk{
    width: 200px;
}

.fbkres{
    width: 680px;
    height: 100px;
}

#submitFeedback{
    font-size: 50px;
}